<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Admin Login</title>
<link rel="icon" type="image/png" sizes="32x32"
	href="/images/favIcon.png">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/local/loginPage.css">
<script src="/js/bootstrap.bundle.min.js" defer></script>
<script src="/js/local/loginPage.js" defer></script>
</head>

<body>
	<div class="login-card">

		<!-- Logo + Title -->
		<img src="/images/logo1.png" alt="Company Logo" class="img-fluid"
			style="max-width: 200px;" />
		<p class="text-dark mb-4">Scheduled Bank owned by Government</p>

		<h3>Admin Login</h3>
		<p class="text-muted mb-4">Secure access to your account</p>

		<!-- Login Form -->
		<form id="loginForm" method="post" action="/login/admin">
			<div class="mb-3 input-group">
				<span class="input-group-text"><i class="fas fa-user"></i></span> <input
					type="text" id="username" name="username" class="form-control"
					placeholder="Enter your username" required />
			</div>

			<div class="mb-4 input-group">
				<span class="input-group-text"><i class="fas fa-lock"></i></span> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Enter your password" required />
			</div>


			<!-- CAPTCHA Section -->
			<div class="mb-3 captcha-row" style="margin-left: 17px;">
				<div class="captcha-container">
					<span id="captchaCode"></span> <i
						class="fas fa-sync-alt captcha-refresh" id="refreshCaptcha"
						title="Refresh CAPTCHA"></i>
				</div>

				<input type="text" id="captchaInput" class="form-control"
					placeholder="Enter code" required />
			</div>

			<p class="text-danger mt-1 mb-0" id="captchaError"></p>


			<div class="d-flex flex-column flex-sm-row gap-2" style="margin-left: 17px;">
				<button type="submit" class="btn btn-custom btn-primary-custom"
					formaction="/login/admin">
					<i class="fas fa-sign-in-alt"></i> Click here to Login!
				</button>
			</div>
		</form>

		<p class="text-danger mt-3" id="error-message" th:text="${error}"></p>
	</div>
</body>

</html>
