<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/local/admin-upolaod-questions.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/all.min.css">
<script src="/js/bootstrap.bundle.min.js" defer></script>
</head>

<body>
	<div th:insert="fragments/adminLayout :: adminLayout">...</div>
	<!-- Create A new Quiz -->
	<div class="container mt-4 shadow-sm p-4 rounded">

		<h2 class="mb-3">Create New Quiz</h2>

		<form th:action="@{/admin/quiz/create}" method="post" class="row g-3">

			<div class="col-md-6">
				<label class="form-label">Quiz Type</label> <input type="text"
					name="title" class="form-control" required>
			</div>

			<div class="col-md-3">
				<label class="form-label">Time Limit (minutes)</label> <input
					type="number" name="timeLimit" class="form-control" required>
			</div>

			<div class="col-md-3">
				<label class="form-label">Total Marks</label> <input type="number"
					name="totalMarks" class="form-control" required>
			</div>

			<div class="col-md-4">
				<label class="form-label">Negative Mark</label> <input type="number"
					step="1" name="negativeMark" class="form-control" value="1"
					required>
			</div>

			<div class="col-md-12">
				<button type="submit" class="btn btn-success">
					<i class="fas fa-plus-circle me-2"></i>Create Quiz
				</button>
			</div>

		</form>

	</div>


	<div class="container mt-3">

		<!-- Success Message -->
		<div th:if="${success}"
			class="alert alert-success alert-dismissible fade show" role="alert">
			<i class="fas fa-check-circle me-2"></i> <span th:text="${success}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>

		<!-- Error Message -->
		<div th:if="${error}"
			class="alert alert-danger alert-dismissible fade show" role="alert">
			<i class="fas fa-exclamation-triangle me-2"></i> <span
				th:text="${error}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>

	</div>

	<!-- Upload Quiz Questions -->
	<div class="container mt-4 shadow-sm p-4 rounded">

		<h2 class="mb-4">Upload Quiz Questions (CSV)</h2>
		<div class="alert alert-warning small">
			<strong>CSV Rule:</strong><br> If any text (question or options)
			contains commas (,), it <u>must</u> be enclosed in double quotes (
			<code>" "</code>).
		</div>

		<form th:action="@{/admin/questions/upload}" method="post"
			enctype="multipart/form-data">

			<label class="form-label">Select Quiz</label> <select name="quizId"
				class="form-select mb-3" required>
				<option value="">-- Select Quiz --</option>
				<option th:each="q : ${quizzes}" th:value="${q.id}"
					th:text="${q.title}"></option>
			</select> <input type="file" name="file" accept=".csv" class="form-control"
				required />

			<button type="submit" class="btn btn-primary mt-3">Upload
				CSV</button>

		</form>

	</div>

	<div class="container mt-4 shadow-sm p-4 rounded">
		<hr class="my-4">

		<h3>CSV Format</h3>
		<pre>quizType,section,questionText,optionA,optionB,optionC,optionD,correctAnswer,marks,negativeMarks
Quiz 1,QUANT,"What is 2,000 + 3,000?","3,500","4,000","5,000","5,500",C,1,0.25

		</pre>
	</div>

</body>
</html>
