<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exam Summary</title>
    <link rel="stylesheet" th:href="@{/css/local/examSummary.css}">
</head>
<body>

<div class="summary-wrapper">

    <div class="summary-card">

        <div class="thankyou-message">
            Thank you for appearing in the examination.
            <br>
            <span class="sub-text">Your responses have been successfully submitted.</span>
        </div>

        <h2>Exam Summary</h2>

        <div class="summary-grid">
            <div class="row">
                <span class="label">Candidate Name</span>
                <span class="value" th:text="${candidateName}"></span>
            </div>
             <div class="row">
                <span class="label">Candidate User ID</span>
                <span class="value" th:text="${userid}"></span>
            </div>

            <div class="row">
                <span class="label">Exam Type</span>
                <span class="value" th:text="${examType}"></span>
            </div>

            <div class="row">
                <span class="label">Total Questions</span>
                <span class="value" th:text="${total}"></span>
            </div>

            <div class="row attempted">
                <span class="label">Attempted</span>
                <span class="value" th:text="${attempted}"></span>
            </div>

            <div class="row unattempted">
                <span class="label">Unattempted</span>
                <span class="value" th:text="${unattempted}"></span>
            </div>
	
         <div class="row">
                <span class="label">Time Taken</span>
                <span class="value" th:text="${timeTaken}"> </span> 
            </div>
        </div>

        <div class="note">
            ⚠ Score will be calculated and published by the administrator.
        </div>

        <div class="actions">
            <a href="/exam/home" class="btn home-btn">Go to Home</a>
        </div>

    </div>

</div>

</body>
</html>
