<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/local/adminDashboard.css}">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/all.min.css">
<script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>


		<div th:insert="fragments/adminLayout :: adminLayout">...</div>

<div class="container mt-4">
    <h2>Total Quizzes: <span th:text="${quizCount}"></span></h2>

    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Quiz Title</th>
                <th>Total Questions</th>
            </tr>
        </thead>
     <tbody th:each="quiz, stat : ${quizzes}">

<tr data-bs-toggle="collapse"
    th:data-bs-target="'#quiz-'+${quiz.id}"
    style="cursor:pointer">
    <td th:text="${stat.index + 1}"></td>
    <td th:text="${quiz.title}"></td>
    <td th:text="${quiz.questions.size()}"></td>
</tr>

<tr th:id="'quiz-'+${quiz.id}" class="collapse">
    <td colspan="3">
        <table class="table table-sm">
            <tr th:each="q, qStat : ${quiz.questions}">
                <td th:text="${qStat.index + 1}"></td>
                <td th:text="${q.questionText}"></td>
            </tr>
        </table>
    </td>
</tr>

</tbody>

    </table>
</div>

</body>
</html>