<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
<link rel="stylesheet" th:href="@{/css/local/adminDashboard.css}">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/all.min.css">
<script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>

	<div th:insert="fragments/adminLayout :: adminLayout">...</div>

	<!-- Page Content -->




</body>
</html>