<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
<link rel="stylesheet" th:href="@{/css/local/adminDashboard.css}">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/all.min.css">
<script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>

	<div th:insert="fragments/adminLayout :: adminLayout">...</div>

	<!-- Page Content -->
	<div class="container mt-4">
		<h3>Reports Dashboard</h3>

		<div class="row text-center mt-4">
			<div class="row text-center mt-4">

				<div class="col-md-4">
					<div class="card shadow p-3">
						<h6>Total Quizzes</h6>
						<h2 th:text="${totalQuizzes}"></h2>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card shadow p-3">
						<h6>Total Attempts</h6>
						<h2 th:text="${totalAttempts}"></h2>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card shadow p-3">
						<h6>Average Score</h6>
						<h2 th:text="${#numbers.formatDecimal(averageScore,1,2)}"></h2>
					</div>
				</div>

			</div>


		</div>
		<hr />
		<div class="mt-4">
			<a href="/admin/reports/quiz-performance"
				class="btn btn-primary me-2">Quiz Performance</a> <a
				href="/admin/reports/user-performance" class="btn btn-secondary">User
				Performance</a>
		</div>
	</div>



</body>
</html>